* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
  background: linear-gradient(135deg, #f3f8ff, #e9eefc);
  background: #fff;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #fff;

}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.logo-img {
  width: 5rem;
}

.error {
  color: #fa5252;
  font-size: 1.4rem;
  font-style: italic;
}

.label-error {
  color: #fa5252;
}

.in-case-error {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.text-input {
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.05);
  padding: 0.8rem 1.2rem;
}

.heading-primary {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
  color: #0b1028;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.2rem 1.6rem;
  background-color: #364fc7;
  text-decoration: none;
  color: #edf2ff;
  font-family: inherit;
  font-size: 1.8em;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: all 0.3s;
}

.btn:active,
.btn:hover {
  background-color: #4a61cd;
}

.view-button:link,
.view-button:visited {
  background-color:#2f9e44 ;
}

.view-button:active,
.view-button:hover {
  background-color: #40c057;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
  z-index: 99999;
}

.container-footer {
  background-color: #2f3a69;
  padding: 0.4rem;
  max-height: 2rem ;
  font-size: 1.2rem;
  text-align: center;

}

.delete-button:link,
.delete-button:visited {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 1.2rem 1.6rem;
  background-color: #fa525256;
  color: white;
  font-family: inherit;
  font-size: 1.8em;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.1);

  transition: all 0.3s;
}

.delete-button:hover,
.delete-button:active {
  background-color: #fa5252be;
}

/***********/
/* SCROLLBAR */
/***********/

::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background-color: #364fc7; 
  border: 2px solid rgba(0, 0, 0, 0); 
}

::-webkit-scrollbar-track {
  background-color: #f7f7f7; 

}

::-webkit-scrollbar-thumb:hover {
  background-color: #4a61cd; 
}