* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-y: auto;

}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #fff;

}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.logo-img {
  width: 5rem;
}

.error {
  color: #fa5252;
  font-size: 1.4rem;
  font-style: italic;
}

.label-error {
  color: #fa5252;
}

.in-case-error {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.text-input {
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.05);
  padding: 0.8rem 1.2rem;
}

.heading-primary {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
  color: #0b1028;
}

.btn,
.btn:link,
.btn:visited {
  padding: 1.2rem 1.6rem;
  background-color: #364fc7;
  text-decoration: none;
  color: #edf2ff;
  font-family: inherit;
  font-size: 1.8em;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: all 0.3s;
}

.btn:active,
.btn:hover {
  background-color: #4a61cd;
}
