.section-register {
  margin-top: 8rem;
  display: flex;
  align-self: center;
  justify-content: center;
}

.register-container {
  padding: 4.8rem 2.4rem;

}

.form-top {
  display: flex;
  width: 85%;
  justify-self: center;
}

.subtitle {
  font-size: 4rem;
  color: #444;
  font-weight: 700;
  display: flex;

  width: 85%;
  justify-self: center;
  margin-bottom: 2.4rem;
}

.normal-label {
  color: #444;
  font-size: 1.6rem;
  display: block;
  font-weight: 600;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 2rem ;
  width: 85%;
}

.password-input {
  display: flex;
  position: relative;
  margin-bottom: 1.2rem;
  gap: 3.2rem;
}

.input-box{
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

.text-input {
  background-color: rgb(247, 247, 247);
  box-shadow: 0 0 0 0.15rem rgb(238, 238, 238);
  border-radius: 3px;
  width: 100%;
  padding: 0.6rem 1.2rem;
}

.text-input::placeholder {
  color: #999;
  font-size: 1.6rem;
  font-weight: 400;
}

.submit-btn {
  margin-top: 0.8rem;
  font-family: inherit;
  border:none;
  border-radius: 4px;
  width: 100%;
  font-size: 1.8rem;
  padding: 1.2rem 1.6rem;
  color: #edf2ff;
  font-weight: 600;
  background-color: #364fc7;

  transition: all 0.3s;
}

.have-account {
  color: #777;
  font-size: 1.6rem;
}

.register-subtext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-link:link,
.signin-link:visited {
  color: #4a61cd;
  text-decoration: none;
}

.signin-link:active,
.signin-link:hover {
  text-decoration: underline;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #4a61cd;
}

.flash-error {
  color: #fa5252;
  position: absolute;

  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 300%);
  font-size: 1.4rem;
  font-weight: 500;
}