.section-register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  padding: 1.2rem 2.4rem;
}

.subtitle {
  font-size: 4rem;
  color: #444;
  font-weight: 700;

  margin-bottom: 2.4rem;
}

.register-form label {
  color: #444;
  font-size: 1.6rem;
  display: block;
  font-weight: 600;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 2rem ;
}

.password-input {
  display: flex;
  gap: 3.2rem;
}

.input-box{
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

.text-input {
  background-color: rgb(247, 247, 247);
  box-shadow: 0 0 0 0.15rem rgb(238, 238, 238);
  border-radius: 3px;
  padding: 0.6rem 1.2rem;
}

.text-input input {
  color: red;
}

.text-input input:focus {
  fill: red;
}

.text-input::placeholder {
  color: #999;
  font-size: 1.6rem;
  font-weight: 400;
}

.submit-btn {
  margin-top: 0.8rem;
  font-family: inherit;
  border:none;
  border-radius: 4px;
  width: 100%;
  font-size: 1.8rem;
  padding: 1.2rem 1.6rem;
  color: #edf2ff;
  font-weight: 600;
  background-color: #364fc7;

  transition: all 0.3s;
}

.have-account {
  color: #777;
  font-size: 1.6rem;
}

.register-subtext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-link:link,
.signin-link:visited {
  color: #4a61cd;
  text-decoration: none;
}

.signin-link:active,
.signin-link:hover {
  text-decoration: underline;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #4a61cd;
}