{% extends "base.html" %}

{% block title %}
  Add a new game
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="../static/css/update.css">
{% endblock stylesheet %}

{% block content %}
<section class="section-game">
  <div class="container add-game-grid">
    <div class="update-content">
      <h1 class="heading-primary add-game-primary">Add a New Game to Your Collection</h1>
      <P class="add-game-description">Level up your collection! Add your favorite game and explain why it belongs on your list.</P>
    </div>


    <div class="add-game-form-container">
      <form action="{{ url_for('add_game') }}" novalidate class="update-form game-form" method="POST">
        {{ form.csrf_token }}
        <div class="add-game-form">
          <div class="in-case-error">
            {{ form.game_name.label(class_="normal-label" + (" label-error" if form.game_name.errors else "")) }}
            {% if form.game_name.errors %}
            <span class="error"> - {{form.game_name.errors[0] }}</span>
            {% endif %}
          </div>
          {{ form.game_name(class_="text-input" + (" input-error" if form.game_name.errors else "")) }}

          {{ form.submit(class_="add-input add-game-btn") }}
        </div>
      </form>
    </div>
  </div>
</section>

<section class="section-search-list">
  <div class="list-container">
    {% if game_results: %}
    <ul class="search-list">
      {% for game in game_results: %}
      <li class="list-item">
        {% if game["background_image"] == None: %}
        <span class="not-found">Image Not Found.</span>
        {% elif game["background_image"] != None: %}
        <img class="img-search" src="{{ game['background_image'] }}" alt="">
        {% endif %}

        <a class="search-item" href="{{ url_for('get_game', game_id=game['id'], name=game['name']) }}">{{
            game["name"] }}</a>

        <div class="game-details">
          <div class="tags">
            {% if game["platforms"] and game["stores"] != None: %}
            <div class="platform-tag">
              {% for platform in game["platforms"] %}
              <span class="tag">{{ platform["platform"]["name"] }}</span>
              {% endfor %}
            </div>

            <div class="store-tag">
              {% for store in game["stores"] %}
              <span class="tag tag--blue">{{ store["store"]["name"] }}</span>
              {% endfor %}
            </div>
            {% else: %}
            <span class="tag">Unknown</span>
            {% endif %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</section>
{% endblock content %}