<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{%block title%}{% endblock %}</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />


  {% block stylesheet %}
  {% endblock stylesheet%}

  <link rel="stylesheet" href="../static/css/general.css">
  <link rel="stylesheet" href="../static/css/nav-bar.css">
  <link rel="stylesheet" href="../static/css/queries.css">
  

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet" />

  <link rel="icon" href="/static/img/byatis_shape_logo_vector_png_black_and_white_--v_6_3e5a049d-37b4-4b48-8202-79623400853d_2 (1).png" type="image/icon type">
  <script src="https://kit.fontawesome.com/8ba9da7539.js" crossorigin="anonymous"></script>
</head>

<body>
  <section class="section-nav">
    <div>
      <a class="logo-link" href="{{ url_for('home') }}">
        <img class="logo-img"
          src="../static/img/byatis_shape_logo_vector_png_black_and_white_--v_6_3e5a049d-37b4-4b48-8202-79623400853d_2 (1).png"
          alt="">
        <span class="logo-text">GameSphere</span>
      </a>
    </div>

    <nav class="nav-right">
      <ul class="nav-list">
        {% if not current_user.is_authenticated %}
        <li>
          <a class="nav-link" href="{{ url_for('register') }}">Register</a>
        </li>

        <li>
          <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
        </li>
        {% endif %}
        
        {% if current_user.is_authenticated %}
        <li>
          <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
        </li>

        <li>
          <a class="nav-btn" href="{{url_for('add_game')}}">Add Game</a>
        </li>
        {% endif %}    
      </ul>
    </nav>

    <button class="btn-mobile-nav">
      <svg class="icon-mobile-nav" name="menu-outline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>

      <svg class="icon-mobile-nav" name="close-outline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </button> 

  </section>
  
  <main>
    {% block content %}
    {% endblock content %}
  </main>

  <footer class="footer">
    <div class="container-footer">
      <p class="copyright">
        Copyright © <span class="year"> 2024</span> by Muntean Rares, All Rights Reserved
      </p>
    </div>
  </footer>

  <script src="../static/js/script.js"></script>
</body>

</html>