<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Top Games List</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="stylesheet" href="../static/general.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="section-hero">
      <div class="container hero-grid">
        <div class="hero-container">
          <h1 class="heading-primary">My Favorite Games Collection</h1>
          <p class="hero-description">
            Dive into my personal gaming journey with a selection of the most
            exciting games I've played.
          </p>
          <a href="{{ url_for('add_game') }}" class="btn">Add Game</a>
        </div>
      </div>
    </section>

    <section class="section-game-list">
      <div class="container game-list-grid">
        {% if not all_games == []: %} {% for game in all_games: %}
        <div class="game-card">
          <div class="game-image">
            <img src="{{ game['img_url'] }}" alt="" />
            <span class="rank">{{ game['ranking'] }}</span>
          </div>

          <div class="game-content">
            <h2 class="game-title">
              {{ game['title']}}
              <span class="game-year">({{ game['year'] }})</span>
            </h2>
            <ul class="game-ratings">
              <li>
                <span>{{ game['rating'] }} <span class="emoji">⭐</span></span>
              </li>
            </ul>
            <div class="game-review">
              <blockquote>"{{ game['review'] }}"</blockquote>
            </div>
            <div class="game-description">
              <p>{{ game['description'] }}</p>
            </div>
            <div class="game-buttons">
              <a
                class="btn update-button"
                href="{{ url_for('update', id=game.id) }}"
                >Update</a
              >
              <a
                class="delete-button"
                href="{{ url_for('delete', id=game.id) }}"
                >Delete</a
              >
            </div>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </section>
  </body>
</html>
