<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Top Games List</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="stylesheet" href="../static/general.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="section-hero">
      <div class="container hero-grid">
        <div class="hero-container">
          <h1 class="heading-primary">My Favorite Games Collection</h1>
          <p class="hero-description">
            Dive into my personal gaming journey with a selection of the most
            exciting games I've played.
          </p>
          <a class="hero-btn btn">Add Game</a>
        </div>
      </div>
    </section>

    <section class="section-game-list">
      <div class="container game-list-grid">
        <div class="game-card">
          <div class="game-image">
            <img src="../static/img/Euro_Truck_Simulator_2_cover.jpg" alt="" />
          </div>

          <div class="game-content">
            <h2 class="game-title">
              Euro Truck Simulator 2 <span class="game-year">(2014)</span>
            </h2>
            <ul class="game-ratings">
              <li>
                <span>9.3</span>
              </li>
            </ul>
            <div class="game-review">
              <blockquote>
                "I let my girlfriend have a try at this game, she started
                growing chest hair."
              </blockquote>
            </div>
            <div class="game-description">
              <p>
                Travel across Europe as king of the road, a trucker who delivers
                important cargo across impressive distances! With dozens of
                cities to explore, your endurance, skill and speed will all be
                pushed to their limits. If you've got what it takes to be part
                of an elite trucking force, get behind the wheel and prove it!
              </p>
            </div>
            <div class="game-buttons">
              <a class="btn update-button" href="">Update</a>
              <a class="delete-button" href="">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
