{% extends "base.html" %}
{% block title %}
Register
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="../static/css/register.css">
<link rel="stylesheet" href="../static/css/queries.css">
{% endblock stylesheet %}

{% block content %}
<section class="section-register">
  <div class="register-container">
    <a class="form-top" href="{{ url_for('home') }}">
      <img class="form-logo"
        src="../static/img/byatis_shape_logo_vector_png_black_and_white_--v_6_3e5a049d-37b4-4b48-8202-79623400853d_2 (1).png"
        alt="">
      <span class="form-text">GameSphere</span>
    </a>

    <p class="subtitle">Create a free account</p>
    <form class="register-form" action="" novalidate method="post">
      {{ form.csrf_token }}
      <div class="input-box">
        <div class="in-case-error">
          {{ form.name.label(class_="normal-label" + (" label-error" if form.name.errors else "")) }}
          {% if form.name.errors%}
            <span class="error"> - {{ form.name.errors[0] }}</span>
          {% endif %}
        </div>

        {{ form.name(class_="text-input")}}
      </div>

      <div class="input-box">
        <div class="in-case-error">
          {{ form.email.label(class_="normal-label" + (" label-error" if form.email.errors else "")) }}
          {% if form.email.errors %}
            <span class="error"> - {{ form.email.errors[0] }}</span>
          {% endif %}
        </div>
        {{ form.email(class_="text-input")}}
      </div>

      <div class="password-input">
        <div class="input-box">
          {{form.password.label(class_="normal-label" + (" label-error" if form.password.errors else ""))}}
          {{form.password(class_="text-input")}}
        </div>

        <div class="input-box">
          {{form.confirm_password.label(class_="normal-label" + (" label-error" if form.confirm_password.errors else
          ""))}}
          {{form.confirm_password(class_="text-input")}}
        </div>

        {% with messages=get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p class="flash-error">{{message}}</p>  
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>

      <div>
        {{form.submit(class_="submit-btn")}}
      </div>

      <div class="register-subtext">
        <p class="have-account">Have an account? <a class="signin-link" href="{{ url_for('login') }}">Sign in now!</a></p>
      </div>
    </form>
  </div>
</section>
{% endblock%}