{% extends "base.html" %}

{% block title %}
Update Game
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="../static/css/queries.css">
<link rel="stylesheet" href="../static/css/update.css" />
<link rel="stylesheet" href="../static/css/header.css">
{% endblock stylesheet %}

{% block content %}
<section class="section-update">
  <div class="container update-grid">
    <div class="update-content">
      <h1 class="heading-primary">Customize {{ game_to_update["title"] }}</h1>
      <p class="update-description">
        Refine your thoughts on {{game_to_update["title"]}}. Update your review, adjust your
        rating, and see how your perspective has evolved.
      </p>
    </div>

    <div class="update-form-container">
      <form class="update-form" action="{{ url_for('update', game_id=game.id) }}" novalidate method="POST">
        {{ form.csrf_token }}
        <div class="game-title-year">
          <div class="update-box">
            <div class="in-case-error">
              {{ form.title.label(class_="normal-label" + (" label-error" if form.title.errors else ""))}}
              {% if form.title.errors %}
              <span class="error"> - {{form.title.errors[0] }}</span>
              {% endif %}
            </div>

            {{ form.title(
              class_="text-input" + (" input-error" if form.title.errors else "")
            ) }}
          </div>

          <div class="update-box">
            {{ form.year.label(class_="normal-label" + (" label-error" if form.year.errors else "")) }}
            {{ form.year(
            class_="year-input text-input" + (" input-error" if form.year.errors else "")
            ) }}

          </div>
        </div>

        <div class="rating-review">
          <div class="update-box">
            <div class="in-case-error">
              {{ form.review.label(class_="normal-label" + (" label-error" if form.review.errors else "")) }}
              {% if form.review.errors %}
              <span class="error"> - {{form.review.errors[0] }}</span>
              {% endif %}
            </div>
            {{ form.review(
            class_="text-input" + (" input-error" if form.review.errors else "")
            ) }}
          </div>

          <div class="update-box">
            {{ form.rating.label(class_="normal-label" + (" label-error" if form.rating.errors else "")) }}
            {{ form.rating(
            class_="text-input" + (" input-error" if form.rating.errors else "")
            ) }}
          </div>
        </div>

        <div class="update-box">
          {{ form.description.label(class_="normal-label" + (" label-error" if form.description.errors else "")) }}
          {{ form.description(
          class_="description-input text-input" + (" input-error" if form.description.errors else "")
          ) }}

        </div>

        {{ form.submit(class_="submit-btn text-input") }}
        <input type="hidden" value="{{ game_to_update.id }}" name="id">
      </form>
    </div>
  </div>
</section>
{% endblock content %}